
@{
    ViewBag.Title = "Index";
}
<h2>Education</h2>
<table border="1">
    <tr>
        <th>Institute</th>
        <th>Name Of Degree</th>
        <th>Passing year</th>
        <th>Result</th>

    </tr>
    <tr>
        <td>Joypara Government School</td>
        <td>SSC</td>
        <td>2016</td>
        <td>GPA 5.00</td>
    </tr>
    <tr>
        <td>Padma Government School & College</td>
        <td>HSC</td>
        <td>2018</td>
        <td>GPA 5.00</td>
    </tr>
    <tr>
        <td>American International University Of Bangladesh</td>
        <td>BSC In CSE</td>
        <td>2022</td>
        <td>CGPA 3.87</td>
    </tr>
</table>


