
@{
    ViewBag.Title = "showall";
}

<h2>Project</h2>
<table border="1">
    <tr>
        <th>OOP1</th>
        <th>00P2</th>
        <th>WEB TECHNOLOGY</th>

    </tr>
    <tr>
        <td><ul><li>Market Management System</li></ul></td>
        <td><ul><li>Bank Management System</li></ul></td>
        <td><ul><li>Online Shopping Center</li></ul></td>
       
    </tr>
   
</table>

